{% from "../post.html" import post %}
{% set id = 4 %}

{% call post(id, not read[id], "Lorem Ipsum #4", "https://placeimg.com/600/200/people", "#") %}
Maecenas in enim eros. Duis augue nulla, ultricies sit amet pulvinar eget, vehicula eget augue. Proin eget nulla commodo, blandit ante porttitor, aliquet erat. Etiam vel turpis at arcu venenatis mattis ut at libero. Cras commodo turpis quis libero egestas placerat. Ut sit amet interdum ante, eu sodales metus. Integer tristique pharetra felis, sit amet bibendum lacus faucibus ac.
{% endcall %}
