{% extends "templates/boilerplate.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/home.css">
    <style>
        .monospace {
            font-family: "Lucida Console", Monaco, monospace;
        }
    </style>
{% endblock head %}

{% block body %}
    {{ super() }}

    <main class="container">

        {% include "flash.html" %}

        <div class="row align-items-center mt-4">
            <div class="col-md-4">
                <img src="/svg/logo.svg" class="img-fluid align-middle">
            </div>

            <div class="col-md-8">
                <h4 class="display-4">Two-factor authentication</h4>
                <p class="lead mt-5">Εκτυπώστε τα παρακάτω recovery codes</p>
                <p>Αν δεν έχετε μαζί σας το κινητό σας, μπορείτε να χρησιμοποιήσετε ένα από αυτά.</p>
                <p>Ο κάθε κωδικός μπορεί να χρησιμοποιηθεί μόνο μία φορά.</p>

                <div class="row my-4 monospace text-center">
                    {% for code in codes %}
                        <div class="col-md-6 my-1">
                            {{ code }}
                        </div>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-between">
                    <a href="/2fa/verify" class="btn btn-primary">Συνέχεια</a>
                    <form action="/api/2fa/cancel" method="post">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <button type="submit" class="btn btn-light">Ακύρωση</button>
                    </form>
                </div>
            </div>
        </div>

    </main>
{% endblock body %}
