{% extends "templates/boilerplate.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/column.css">
    <link rel="stylesheet" href="/css/password.css">
    <script defer="" src="/js/password_strength.js"></script>
    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" integrity="sha256-Znf8FdJF85f1LV0JmPOob5qudSrns8pLPZ6qkd/+F0o=" crossorigin="anonymous"></script>
{% endblock head %}

{% block body %}
    <main class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">

                <img class="mb-4" src="/svg/logo.svg" alt="ΓΕΕΦ" width="128">

                {% include "flash.html" %}

                <form action="/api/change_password" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Αλλαγή Κωδικού</h1>

                    <p class="text-justify">Αποδείξτε την ταυτότητά σας για να αλλάξετε τον κωδικό σας.</p>

                    <label for="old_password" class="sr-only">Κωδικός</label>
                    <input name="old_password" type="password" id="old_password" class="form-control{{ ' first' if two_fa_enabled }}" placeholder="Password" required="" minlength="8" maxlength="72">

                    {% if two_fa_enabled %}
                        <label for="two_fa_token" class="sr-only">Κωδικός επαλήθευσης</label>
                        <input name="two_fa_token" type="text" pattern="[0-9]*" id="two_fa_token" class="form-control last" placeholder="Κωδικός επαλήθευσης" required="" minlength="6" maxlength="6">
                    {% endif %}

                    <label for="newPassword1" class="sr-only">Νέος Κωδικός</label>
                    <input type="password" class="form-control first mt-3" id="newPassword1" name="new_password" placeholder="Νέος Κωδικός" required="" minlength="8" maxlength="72" autocomplete="new-password">

                    <label for="newPassword2" class="sr-only">Επαλήθευση Νέου</label>
                    <input type="password" class="form-control last" id="newPassword2" placeholder="Επαλήθευση Νέου" required="" minlength="8" maxlength="72">

                    <div class="progress position-relative mt-3 d-none">
                        <div class="progress-bar"></div>
                        <span class="badge badge-pill badge-dark"></span>
                    </div>

                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <button class="btn btn-lg btn-danger btn-block mt-3" type="submit">Αλλαγή</button>
                    <a href="/logariasmos" class="btn btn-lg btn-primary btn-block mt-3">Άκυρο</a>
                </form>

            </div>
        </div>
    </main>
{% endblock body %}

{% block footer %}{% endblock footer %}
