{% extends "templates/boilerplate.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/disable_2fa.css">
{% endblock head %}

{% block body %}
    <main class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">

                <img class="mb-4" src="/svg/logo.svg" alt="ΓΕΕΦ" width="128">

                {% include "flash.html" %}

                <form action="/api/2fa/disable" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Two-factor authentication</h1>

                    <p class="text-justify">Αποδείξτε την ταυτότητά σας για να ολοκληρώσετε την απενεργοποίηση του two-factor authentication.</p>

                    <label for="password" class="sr-only">Κωδικός</label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Password" required="" minlength="8" maxlength="72">

                    <label for="token" class="sr-only">Κωδικός επαλήθευσης</label>
                    <input name="token" type="text" pattern="[0-9]*" id="token" class="form-control" placeholder="Κωδικός επαλήθευσης" minlength="6" maxlength="6" required="">

                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <button class="btn btn-lg btn-danger btn-block mt-3" type="submit">Απενεργοποιήση</button>
                    <a href="/logariasmos" class="btn btn-lg btn-primary btn-block mt-3">Άκυρο</a>
                </form>

            </div>
        </div>
    </main>
{% endblock body %}

{% block footer %}{% endblock footer %}
