{% extends "templates/boilerplate.html" %}

{% macro id(name, value) -%}
    {{ [name, value] | join }}
{%- endmacro %}

{% macro radio(name, value, label) %}
    <div class="form-check">
        <input id="{{ id(name, value) }}" class="form-check-input" type="radio" name="{{ name }}" value="{{ value }}" required="">
        <label for="{{ id(name, value) }}" class="form-check-label">{{ label }}</label>
    </div>
{% endmacro %}

{% macro radioin(name, value, label) %}
    <div class="form-check form-check-inline">
        <input id="{{ id(name, value) }}" class="form-check-input" type="radio" name="{{ name }}" value="{{ value }}" required="">
        <label for="{{ id(name, value) }}" class="form-check-label col-form-label">{{ label }}</label>
    </div>
{% endmacro %}

{% macro inlinerow(name, label) %}
    <div class="form-group form-row">
        <label class="col-form-label col-sm-4">{{ label }}</label>
        <div class="col-sm-8">
            {{ radioin(name, "1", "1") }}
            {{ radioin(name, "2", "2") }}
            {{ radioin(name, "3", "3") }}
            {{ radioin(name, "4", "4") }}
            {{ radioin(name, "5", "5") }}
        </div>
    </div>
{% endmacro %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/home.css">

    <script defer="" src="https://use.fontawesome.com/releases/v5.6.1/js/solid.js" integrity="sha384-8Lgyylu0vfTGCXDKe435hJgX8s96c19R+dvpH0NHKdX47GA7TmMj+BDiZZ76qqhT" crossorigin="anonymous"></script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.6.1/js/fontawesome.js" integrity="sha384-T6YzYwAGZAItTIkYlBzfwqa07o9R1AND3Lgt6Or6c5IdukY7tqShoryqwpKrpeIB" crossorigin="anonymous"></script>
{% endblock head %}

{% block body %}
    {{ super() }}

    <main role="main" class="container">

        {% include "flash.html" %}

        <form action="/api/laef" method="post">
            <h2 class="mb-5">
                <a href="/home">
                    <i class="fas fa-chevron-circle-left align-middle"></i>
                    <span class="align-middle">
                        Ερωτηματολόγιο ικανοποίησης δικαιούχων της ΛΑΕΦ
                    </span>
                </a>
            </h2>

            <div class="form-group">
                <h5>1. Κάθε πότε παίρνετε συσσίτιο από την Λέσχη;</h5>
                {{ radio("erotisi1", "0", "Κάθε ημέρα") }}
                {{ radio("erotisi1", "1", "2-3 φορές την εβδομάδα") }}
                {{ radio("erotisi1", "2", "2-3 φορές τον μήνα") }}
                {{ radio("erotisi1", "3", "Ποτέ") }}
            </div>

            <div class="form-horizontal">
                <h5>2. Θα θέλαμε να μας πείτε για τα παρακάτω κριτήρια, το κάθε ένα πόσο σημαντικό είναι όταν επιλέγετε να αγοράζετε φαγητό από την Λέσχη.
                    <em>Επιλέξτε ένα αριθμό από το 1 εως το 5 (όπου 1 ασήμαντο και 5 πολύ σημαντικό).</em>
                </h5>

                {{ inlinerow("erotisi2a", "Είμαι άγαμος/η και με βολεύει")}}
                {{ inlinerow("erotisi2b", "Κάποια εδέσματα δεν τα τρώω σπίτι μου")}}
                {{ inlinerow("erotisi2c", "Με εξυπηρετεί λόγω ωραρίου εργασίας συζύγου")}}
                {{ inlinerow("erotisi2d", "Οι τιμές είναι πολύ καλές")}}
                {{ inlinerow("erotisi2e", "Έχει άνετους χώρους")}}
                {{ inlinerow("erotisi2f", "Το προσωπικό είναι εξυπηρετικό")}}
                {{ inlinerow("erotisi2g", "Υπάρχει ποικιλία στα γεύματα που παρασκευάζονται καθημερινά")}}
                {{ inlinerow("erotisi2h", "Υπάρχει ποικιλία στα γεύματα της ώρας")}}
            </div>

            <div class="form-group">
                <h5>3. Κατά την επίσκεψη σας στη Λέσχη συνοδεύεστε και από φίλους ή συγγενείς;</h5>
                {{ radio("erotisi3", "nai", "Ναι") }}
                {{ radio("erotisi3", "oxi", "Όχι") }}
            </div>

            <div class="form-group">
                <h5>4. Έχετε πραγματοποιήσει κάποια εκδήλωση κοινωνικού χαρακτήρα στους χώρους της Λέσχης (εορτή, γενέθλια, κλπ);</h5>
                {{ radio("erotisi4", "nai", "Ναι") }}
                {{ radio("erotisi4", "oxi", "Όχι") }}
            </div>

            <div class="form-group">
                <h5>5. Έχετε έρθει σε εκδήλωση;</h5>
                {{ radio("erotisi5", "nai", "Ναι") }}
                {{ radio("erotisi5", "oxi", "Όχι") }}
            </div>

            <div class="form-horizontal">
                <h5>6. Θα θέλαμε να εκφράσετε το βαθμό συμφωνίας ή διαφωνίας σας με τις παρακάτω προτάσεις που αφορούν στους χώρους της λέσχης.
                    <em>Επιλέξτε ένα αριθμό από το 1 εως το 5 (όπου 1 διαφωνάτε απόλυτα και 5 συμφωνάτε απόλυτα).</em>
                </h5>

                {{ inlinerow("erotisi6a", "Η ατμόσφαιρα είναι ζεστή και φιλική")}}
                {{ inlinerow("erotisi6b", "Οι χώροι των εστιατορίων είναι καθαροί")}}
                {{ inlinerow("erotisi6c", "Το προσωπικό της ΛΑΕΦ είναι πρόθυμο και η συμπεριφορά του είναι ευγενική στην εξυπηρέτηση των πελατών")}}
                {{ inlinerow("erotisi6d", "Οι πελάτες δεν περιμένουν πολύ ώρα να εξυπηρετηθούν")}}
                {{ inlinerow("erotisi6e", "Η ποιότητα των εδεσμάτων είναι καλή")}}
            </div>

            <div class="form-group">
                <h5>7. Προτείνετε κάποια εδέσματα τα οποία θα θέλατε να σερβίρει η Λέσχη.</h5>
                <textarea class="form-control" name="erotisi7" rows="3" maxlength="1024"></textarea>
            </div>

            <div class="form-group">
                <h5>8. Γενικά πόσο ικανοποιημένος/η θα λέγατε ότι είστε από την Λέσχη;</h5>
                {{ radio("erotisi8", "0", "Καθόλου ικανοποιημένος/η") }}
                {{ radio("erotisi8", "1", "Μέτρια ικανοποιημένος/η") }}
                {{ radio("erotisi8", "2", "Πολύ ικανοποιημένος/η") }}
                {{ radio("erotisi8", "3", "Απόλυτα ικανοποιημένος/η") }}
            </div>

            <div class="form-group">
                <h5>9. Συμπληρώστε παρατηρήσεις ή προτάσεις οι οποίες θα μας έκαναν καλύτερους.
                    <em>Σε περίπτωση που επιθυμείτε απάντηση δηλώστε τα στοιχεία σας για να επικοινωνήσουμε μαζί σας.</em>
                </h5>
                <textarea class="form-control" name="erotisi9" rows="3" maxlength="1024"></textarea>
            </div>

            <div class="form-horizontal">
                <h5>10. Τέλος θα μπορούσατε να μας πείτε μερικά στοιχεία γύρω από τον εαυτό σας;</h5>

                <div class="form-group form-row">
                    <label class="col-form-label col-sm-4">Φύλο</label>
                    <div class="col-sm-8">
                        {{ radioin("erotisi10a", "0", "Άνδρας") }}
                        {{ radioin("erotisi10a", "1", "Γυναίκα") }}
                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-form-label col-sm-4">Ηλικία</label>
                    <div class="col-sm-8">
                        {{ radioin("erotisi10b", "0", "18 - 30") }}
                        {{ radioin("erotisi10b", "1", "31 - 40") }}
                        {{ radioin("erotisi10b", "2", "41 - 50") }}
                        {{ radioin("erotisi10b", "3", "50 +") }}
                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-form-label col-sm-4">Οικογενειακή Κατάσταση</label>
                    <div class="col-sm-8">
                        {{ radioin("erotisi10c", "0", "Έγγαμος/η") }}
                        {{ radioin("erotisi10c", "1", "Άγαμος/η") }}
                        {{ radioin("erotisi10c", "2", "Άλλο") }}
                    </div>
                </div>

            </div>

            <input type="hidden" name="csrf" value="{{ csrf }}">

            <button type="submit" class="btn btn-outline-primary">Submit</button>

        </form>

    </main>
{% endblock body %}
