{% extends "templates/boilerplate.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/password.css">
    <script defer="" src="/js/login.js"></script>
    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" integrity="sha256-Znf8FdJF85f1LV0JmPOob5qudSrns8pLPZ6qkd/+F0o=" crossorigin="anonymous"></script>
{% endblock head %}

{% block body %}
    <main class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img class="mb-4" src="/svg/logo.svg" alt="ΓΕΕΦ" width="128">

                {% include "flash.html" %}

                <div id="btn-group">
                    <button type="button" class="btn btn-secondary" id="login">Log in</button>
                    <button type="button" class="btn btn-secondary" id="register">Register</button>
                </div>

                <form class="form-signin {{ 'd-none' if register }}" action="/api/login" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                    <label for="signinEmail" class="sr-only">Email address</label>
                    <input name="email" type="email" id="signinEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <label for="signinPassword" class="sr-only">Password</label>
                    <input name="password" type="password" id="signinPassword" class="form-control" placeholder="Password" required="" minlength="8" maxlength="72">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember_me">
                            Remember me
                        </label>
                    </div>

                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                    <div class="text-right mt-3">
                        <a id="reset" href="">Ξεχάσατε τον κωδικό σας;</a>
                    </div>
                </form>

                <form class="form-register {{ 'd-none' if not register }}" action="/api/register" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

                    <label for="registerEmail" class="sr-only">Email address</label>
                    <input name="email" type="email" id="registerEmail" class="form-control" placeholder="Email address" required="" autofocus="">

                    <label for="registerPassword" class="sr-only">Password</label>
                    <input name="password" type="password" id="registerPassword" class="form-control" minlength="8" maxlength="72" placeholder="Password" required="">

                    <label for="registerPassword2" class="sr-only">Repeat your password</label>
                    <input type="password" id="registerPassword2" class="form-control" minlength="8" maxlength="72" placeholder="Repeat Password" required="">

                    <div class="progress d-none">
                        <div class="progress-bar"></div>
                        <span class="badge badge-pill badge-dark"></span>
                    </div>

                    <label for="registerOnoma" class="sr-only">Όνομα</label>
                    <input name="onoma" type="text" id="registerOnoma" class="form-control" placeholder="Όνομα" required="">

                    <label for="registerEpitheto" class="sr-only">Επίθετο</label>
                    <input name="epitheto" type="text" id="registerEpitheto" class="form-control" placeholder="Επίθετο" required="">

                    <label for="registerAM" class="sr-only">ΑΜ</label>
                    <input type="number" class="form-control" name="am" id="registerAM" placeholder="ΑΜ" min="100" max="99999" required="">

                    <label for="registerKinito" class="sr-only">Κινητό Τηλέφωνο</label>
                    <input name="kinito" type="tel" id="registerKinito" class="form-control mb-3" placeholder="Κινητό Τηλέφωνο" required="" minlength="8" maxlength="14">

                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>

                <form class="form-reset d-none" action="/api/send_reset" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Επαναφορά Κωδικού</h1>

                    <label for="resetEmail" class="sr-only">Email address</label>
                    <input name="email" type="email" id="resetEmail" class="form-control" placeholder="Email address" required="">

                    <div class="text-justify my-3">
                        Αν υπάρχει λογαριασμός με αυτή τη διεύθυνση email, τότε θα λάβετε μήνυμα με οδηγίες για να επαναφέρεται τον κωδικό σας.
                    </div>

                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Επαναφορά</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            Καλώς ήλθατε στην Ηλεκτρονική Πύλη Διαδικτυακών Υπηρεσιών του Γενικού Επιτελείου Εθνικής Φρουράς.
            <br>
            Μέσω της πύλης είναι διαθέσιμες υπηρεσίες που αφορούν τα στελέχη της ΕΦ.
        </div>
    </main>
{% endblock body %}

{% block footer %}{% endblock footer %}
