{% extends "templates/boilerplate.html" %}

{% macro periodiko(title, thumbnail = "/svg/periodika.svg", url = "#") %}
    <div class="col-sm-2 col-6 mb-4">
        <a class="card" href="{{ url }}">
            <img class="card-img-top" src="{{ thumbnail }}" alt="{{ title }}">
            <div class="card-body">
                <p class="card-text text-center">{{ title }}</p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro row(start, end) %}
    <div class="row">
        {% for i in range(start, end, -1) %}
            {% set title = i | TitlosPeriodikou | safe %}
            {% set thumbnail = ["/periodika/", i, ".jpg"] | join %}
            {% set url = ["/periodika/Periodiko ", i, "_Compressed.pdf"] | join %}

            {{ periodiko(title, thumbnail, url) }}
        {% endfor %}
    </div>
{% endmacro %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/home.css">

    <script async="" src="https://use.fontawesome.com/releases/v5.6.1/js/solid.js" integrity="sha384-8Lgyylu0vfTGCXDKe435hJgX8s96c19R+dvpH0NHKdX47GA7TmMj+BDiZZ76qqhT" crossorigin="anonymous"></script>
    <script async="" src="https://use.fontawesome.com/releases/v5.6.1/js/fontawesome.js" integrity="sha384-T6YzYwAGZAItTIkYlBzfwqa07o9R1AND3Lgt6Or6c5IdukY7tqShoryqwpKrpeIB" crossorigin="anonymous"></script>

    <style>
        .card-text {
            font-size: 0.9em;
        }
    </style>
{% endblock head %}

{% block body %}
    {{ super() }}

    <main role="main" class="container">
        <h2 class="mb-5">
            <a href="/home">
                <i class="fas fa-chevron-circle-left align-middle"></i>
                <span class="align-middle">
                    Περιοδικά ΔΙΕΦ
                </span>
            </a>
        </h2>

        {% for i in range(41, 0, -6) %}
            {% set end = i - 6 if (i - 6) > 0 else 0 %}
            {{ row(i, end) }}
        {% endfor %}
    </main>
{% endblock body %}
