{% extends "templates/boilerplate.html" %}

{% macro periodiko(title, thumbnail = "/svg/periodika.svg", url = "#") %}
    <div class="col-sm-2 col-6 mb-4">
        <a class="card" href="{{ url }}">
            <img class="card-img-top" src="{{ thumbnail }}" alt="{{ title }}">
            <div class="card-body">
                <p class="card-text text-center">{{ title }}</p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro row(start, end) %}
    <div class="row">
        {% for i in range(start, end, -1) %}
            {% set title = i | TitlosPeriodikou | safe %}
            {% set thumbnail = ["/periodika/", i, ".jpg"] | join %}
            {% set url = ["/periodika/Periodiko ", i, "_Compressed.pdf"] | join %}

            {{ periodiko(title, thumbnail, url) }}
        {% endfor %}
    </div>
{% endmacro %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .card-text {
            font-size: 0.9em;
        }
    </style>
{% endblock head %}

{% block body %}
    {{ super() }}

    <main class="container">
        <h2 class="mb-5">
            <a href="/home">
                <i class="fas fa-chevron-circle-left align-middle"></i>
                <span class="align-middle">
                    Περιοδικά ΔΙΕΦ
                </span>
            </a>
        </h2>

        {% for i in range(41, 0, -6) %}
            {% set end = i - 6 if (i - 6) > 0 else 0 %}
            {{ row(i, end) }}
        {% endfor %}
    </main>
{% endblock body %}
