{% extends "templates/boilerplate.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/home.css">
    <script defer="" src="/js/protasis.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock head %}

{% block body %}
    {{ super() }}

    <main role="main" class="container">

        {% include "flash.html" %}

        <form action="/api/protasis" method="post">
            <h2 class="mb-5">
                <a href="/home">
                    <i class="fas fa-chevron-circle-left align-middle"></i>
                    <span class="align-middle">
                        Υποβολή Προτάσεων
                    </span>
                </a>
            </h2>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="pros">Προς</label>
                    <input type="text" class="form-control" id="pros" value="ΓΕΕΦ/ΔΙΠΡΟ" readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="imerominia">Ημερομηνία</label>
                    <input type="date" class="form-control" id="imerominia" value="{{ date }}" readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="epitheto">Επίθετο</label>
                    <input type="text" class="form-control" id="epitheto" value="{{ epitheto }}" readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="onoma">Όνομα</label>
                    <input type="text" class="form-control" id="onoma" value="{{ onoma }}" readonly="readonly">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" value="{{ email }}" readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="am">ΑΜ</label>
                    <input type="text" class="form-control" id="am" value="{{ am }}" readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="tilefono">Τηλέφωνο</label>
                    <input type="text" class="form-control" id="tilefono" value="{{ kinito }}" readonly="readonly">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="monada">Μονάδα</label>
                    <input type="text" class="form-control" id="monada" name="monada" maxlength="16" required="">
                </div>
                <div class="form-group col-md-4">
                    <label for="vathmos">Βαθμός</label>
                    <select class="custom-select" id="vathmos" name="vathmos" required="">
                        <option value="0">Αντγος</option>
                        <option value="1">Υπγος</option>
                        <option value="2">Ταξχος</option>
                        <option value="3">Σχης</option>
                        <option value="4">Ανχης</option>
                        <option value="5">Τχης</option>
                        <option value="6">Λγός</option>
                        <option value="7">Υπλγός</option>
                        <option value="8">Ανθλγός</option>
                        <option value="9">Ανθστής Α</option>
                        <option value="10">Ανθστής Β</option>
                        <option value="11">Ανθστής Γ</option>
                        <option value="12">Αλχίας</option>
                        <option value="13">Επχίας</option>
                        <option value="14">Λχίας</option>
                        <option value="15">Δνέας</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="os">Όπλο - Σώμα</label>
                    <select class="custom-select" id="os" name="os" required="">
                        <option value="0">ΠΖ</option>
                        <option value="1">ΤΘ</option>
                        <option value="2">ΠΒ</option>
                        <option value="3">ΜΧ</option>
                        <option value="4">ΔΒ</option>
                        <option value="5">ΤΧ</option>
                        <option value="6">ΥΠ</option>
                        <option value="7">ΕΜ</option>
                        <option value="8">ΥΓ</option>
                        <option value="9">ΝΟΜ</option>
                        <option value="10">ΠΑ</option>
                        <option value="11">ΠΝ</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="thema">Θέμα</label>
                <input type="text" class="form-control" id="thema" name="thema" maxlength="200" required="">
            </div>

            <div class="form-group">
                <label for="paratirisis">Συμπληρώστε παρατηρήσεις ή προτάσεις οι οποίες θα μας έκαναν καλύτερους</label>
                <textarea class="form-control" name="paratirisis" rows="5" maxlength="10000" required=""></textarea>
            </div>

            <input type="hidden" name="csrf" value="{{ csrf }}">

            <button type="submit" class="btn btn-outline-primary">Submit</button>

        </form>

    </main>
{% endblock body %}
