<!doctype html>
<html lang="el">

    <head>
        {% block head %}
            {% include "head.html" %}
        {% endblock head %}
    </head>

    <body>
        {% block body %}
            {% include "navbar.html" %}
        {% endblock body %}

        {% block footer %}
            <footer class="w-50 mx-auto py-4 text-center text-muted border-top">
                Copyright &copy; Γενικό Επιτελείο Εθνικής Φρουράς 2019
            </footer>
        {% endblock footer %}
    </body>

</html>
