body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

a:link:not(.badge), a:hover:not(.badge) {
    color: inherit;
    text-decoration: inherit;
}

a.btn-primary {
    color: #fff !important;
}

a span {
    color: #212529;
}

a.card:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

a.card {
    transition-duration: 400ms;
}

div.card-footer {
    padding: 0.75rem;
    display: flex;
}

button.badge {
    border: none;
    cursor: pointer;
}

/* Required for Firefox */

div.card-footer h5 {
    color: #212529;
}
