body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:hover {
    color: inherit;
    text-decoration: inherit;
}

a.card:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

a.card {
    transition-duration: 400ms;
}

div.card-footer {
    padding: 0.75rem;
    display: flex;
}
